* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-between;
  /* padding: 2%; */
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: saddlebrown;
  z-index: 9;
  /* box-shadow: 1px 2px 2px 0px gray; */
}
.button {
  width: 150px;
  height: 50px;
  background-color: sandybrown; /* A color that complements saddlebrown */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: brown;
}

/* Optional: add some spacing between buttons */
#login-link,
#register-link {
  margin: 0 10px;
}
#logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headdd {
  background-color: white;
}
.left img {
  height: 50px;
  border-radius: 10px;
}
.left {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-left: 1%;
}
.message-mid {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#welcome-message {
  font-weight: bold;
  font-size: 20px;
}
.mid {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
}
.mid a {
  text-decoration: none;
  color: white;
}

.bx.bx-expand {
  font-size: 30px;
}
.bx-menu {
  font-size: 30px;
 margin: 20px 10px 0px 0px;
}
.body-0 {
  height: 70px;
}
.scroll-up-btn {
  background-color: sandybrown;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  font-size: 45px;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none; 
  z-index: 9999;
}

.body-1 {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 2%;
  font-size: 1em;
}
.body-1 h1 {
  width: 70%;
}
.body-2 {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(450px, 1fr)
  ); /* Creates responsive columns */
  gap: 20px; /* Spacing between grid items */
  margin:auto;
  width: 100%;
}

.b-2-1-left img {
  height: 160px;
  width: 200px;
  border-radius: 10px 0px 0px 10px;
}
.b-2-1-left {
  display: flex;
  height: 160px;
  border-radius: 10px;
}
.b-2-1-left:hover {
  box-shadow: 1px 4px 4px 1px rgb(180, 179, 179);
}
.writeup {
  padding-left: 4%;
  font-size: 15px;
  height: 160px;
  background: url(/icon/abstract-yellow-sunshine-theme-summer-watercolor-background-illustration-high-resolution-free-photo_1340-21022.avif);
}
.writeup h3 {
  text-align: center;
  background-color: saddlebrown;
  border-radius: 0px 10px;
}
.writeup p {
  margin-top: 4%;
  padding-right: 5%;
  font-size: 0.8rem;
  color: black;
}
.message {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: fixed;
  border-radius: 50% 10% 50% 50%;
  bottom: 10px;
  right: 10px;
}
.writeup {
  color: white;
}
.writeup a {
  color: black;
}
.writeup a:hover {
  color: blue;
}
.body-3 {
  padding: 2%;
  margin: 2%;
}
.body-3 h1 {
  text-align: center;
}
.body-3 h3 {
  text-align: center;
  margin: 30px;
  color: saddlebrown;
  font-weight: bolder;
}
.herd-size a {
  color: saddlebrown;
}
.herd-size a:hover {
  color: blue;
}
.body-4 {
  background-color: rgba(29, 139, 19, 0.7);
  background: url(/icon/leather-saddle-brown.jpg);
  background-position: center;
  background-size: contain;
  margin: 2%;
  border-radius: 13px;
  padding: 2%;
}
.body-4 h1 {
  text-align: center;
  color: white;
}
.body-4 h3 {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 25px;
}
.body-4 p {
  line-height: 25px;
}
.body-4 a {
  color: black;
}
.body-4 a:hover {
  color: blue;
}
.economic {
  width: 80%;
  margin: 20px 10px;
  color: white;
}
.cultural {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: end;
  color: white;
}
.cul-1 {
  width: 80%;
  margin: 20px 10px;
}
.bxs-message-rounded-detail {
  font-size: 40px;
  color: white;
}
.foot {
  display: flex;
  justify-content: space-between;
  padding: 1% 6%;
}
.foot h2 {
  color: saddlebrown;
  font-size: 25px;
}
.f-1 {
  line-height: 50px;
  font-size: 18px;
}
.f-1-1 {
  display: none;
}
.f-1-1 a {
  font-size: 30px;
  color: black;
}
.f-1-1 a:hover {
  color: saddlebrown;
}
.f-2 {
  /* text-align: center; */
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f-2 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.f-2 a:hover {
  color: saddlebrown;
}
.f-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bxs-copyright {
  color: saddlebrown;
}
.bottom {
  text-align: center;
  color: black;
  padding: 3px;
}
.bottom span {
  color: saddlebrown;
}

@media (min-width: 1100px) {
  .right {
    display: none;
  }
}
@media (max-width: 1100px) {
  .mid {
    display: none;
    padding: 0px 50px; 
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute; 
    right: 0;
    margin: 0;
    width: 35%;
    background-color: saddlebrown;
    font-size: 20px;
    gap: 20px;
  }
  .mid a {
    color: white;
  }
  .button{
    width: 100px;
  }
  .body-1 h1 {
    width: 100%;
  }
 
  .head-3 {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
  }
  .body-3 {
    display: flex;
    flex-direction: column;
  }
  .body-3-top {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .writeup {
    font-size: 17px;
  }
}
@media (max-width: 800px) {
  .scroll-up-btn.visible {
    visibility: visible;
    pointer-events: auto; 
  }
  
  .scroll-up-btn {
    opacity: 0.6;
  }
  
  .scroll-up-btn:hover {
    opacity: 1;
  }
  
  .body-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
  }
  .body-1-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .body-1-top-p {
    width: 50%;
  }
  .body-1-top-header {
    width: 40%;
  }
  .body-2 {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(270px, 1fr)
    ); /* Creates responsive columns */
   gap: 20px;
  }
  .writeup {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 0px 0px 10px 10px;
  }
  .b-2-1-left p {
    font-size: 17px;
    padding: 5%;
  }
  .b-2-1-left h3 {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
  }
  .b-2-1-left img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }
  .b-2-1-left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  
  }
  .background {
    height: 1000px;
  }
  .body-2-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .economic {
    width: 100%;
  }
  .cul-1 {
    width: 100%;
    margin: 20px 10px;
    text-align: center;
  }
  .f-2 {
    display: none;
  }
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
